html {
    background-color: lightskyblue;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

#grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

figure {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 150px;
    background-color: blue;
    padding: 5px;
    margin: 5px;
}

figcaption {
    background-color: skyblue;
    text-align: center;
}