h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

body {
    background-image: url('https://i.redd.it/2wu1jdz3yh411.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

sub {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

menu {
    display: flexbox;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 20px;
}