h1 {
    text-align: top;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

a {
    color: lightskyblue;
    text-align: top;
}

body {
    background-color: blue;
}

entry {
    background-color: black;
    text-align: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 115px 115px 300px;
    grid-template-rows: 50px 50px 80px 80px 80px;
    padding: 5px;
    gap: 5px 5px;
}