h1 {
    text-align: top;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

a {
    color: lightskyblue;
    text-align: top;
}

body {
    background-color: blue;
}

entry {
    background-color: black;
    text-align: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 115px 115px 300px;
    grid-template-rows: 100px 80px 80px 80px;
    padding: 5px;
    gap: 5px 5px;
}

building {
    grid-area: 1/3/5/4;
    align-content: center;
}

name {
    background-color: lightskyblue;
    grid-area: 1/1/2/3;
    align-content: center;
}

cost {
    background-color: lightskyblue;
    grid-area: 2/1/3/2;
    align-content: stretch;
}

running {
    background-color: lightskyblue;
    grid-area: 2/2/3/3;
    align-content: stretch;
}

space {
    background-color: lightskyblue;
    grid-area: 3/1/4/2;
    align-content: stretch;
}

power {
    background-color: lightskyblue;
    grid-area: 3/2/4/3;
    align-content: stretch;
}

capacity {
    background-color: lightskyblue;
    grid-area: 4/1/5/2;
    align-content: stretch;
}

unlock {
    background-color: lightskyblue;
    grid-area: 4/2/5/3;
    align-content: stretch;
}